@page "/Films"
@using System.ComponentModel.DataAnnotations
@inject MongoDbService MongoService


<PageTitle>Filmy</PageTitle>


<h1 style="text-align:center;">Lista dostępnych filmów</h1>


@if (isLoading)
{
    <p>⏳ Ładowanie filmów...</p>
}
else if (!string.IsNullOrEmpty(errorMessage))
{
    <p style="color: red;">❌ Błąd: @errorMessage</p>
}
else if (movies != null && movies.Count > 0)
{
    <FluentGrid Spacing="4">
        <FluentGridItem xs="12">
            <FluentDataGrid Items="@movies.AsQueryable()" Style="width: 100%;" AutoFit="true">
                <PropertyColumn Property="@(f => f.Title)" Title="Tytuł" Sortable="true" />
                <PropertyColumn Property="@(f => f.Director)" Title="Reżyser" Sortable="true" />
                <PropertyColumn Property="@(f => f.Genre)" Title="Gatunek" Sortable="true" />
                <PropertyColumn Property="@(f => f.Length)" Title="Czas (min)" Sortable="true" />
                <PropertyColumn Property="@(f => f.Rating)" Title="Ocena" Sortable="true" />
            </FluentDataGrid>
        </FluentGridItem>
    </FluentGrid>
}
else
{
    <p>Brak dostępnych filmów</p>
}


@code {
    private List<Movie> movies = new();
    private bool isLoading = true;
    private string errorMessage = "";


    protected override async Task OnInitializedAsync()
    {
        try
        {
            var cts = new CancellationTokenSource(TimeSpan.FromSeconds(10)); // 10 sekund timeout
            movies = await MongoService.GetAvailableMoviesAsync();
            isLoading = false;
        }
        catch (Exception ex)
        {
            errorMessage = $"Problem z połączeniem: {ex.Message}";
            isLoading = false;
            Console.WriteLine($"Błąd Films.razor: {ex}");
        }
    }
}
